<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.httd.api.mapper.HomeRecommendMapper">
    <!--获取首页推荐列表-->
    <select id="findHomeRecommendList" resultType="com.httd.api.business.home.entity.FindHomeRecommendListDTO"
            parameterType="com.httd.api.base.BaseVO">
        select recommend_name,recommend_image,jump_type,jump_path
        from t_home_recommend where recommend_status =0
        order by recommend_index desc limit #{page.indexNo},#{page.pageSize}
    </select>

</mapper>
