<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.httd.api.mapper.HomeNoticeMapper">

    <!--获取首页公告-->
    <select id="findHomeNoticeList" resultType="com.httd.api.business.home.entity.FindHomeNoticeListDTO"
            parameterType="com.httd.api.base.BaseVO">
        select notice_title,notice_content,jump_type,jump_path
        from t_home_notice where notice_status =0
        order by send_time desc limit #{page.indexNo},#{page.pageSize}
    </select>
</mapper>
